*{
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    color: #645a51;
    font-size: 2em;
    transition: color 200ms;
}

.navbar-light .navbar-brand:hover{
    color: #e2e2e2;
}

.navbar-light .navbar-nav .nav-link{
        color: #5b5048;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #808080;
}

.navbar-container nav{
    border-bottom: 1px rgba(203, 170, 135, 0.4) solid;
}

.fixed-top.scrolled {
  background-color: #d6cdc0;
  transition: background-color 200ms linear;
  color: #ffeada;
}

#main-bg{
    background: url(./min/head1.jpg);
    height: 100vh;
    padding: 0;
}

#main-overlay{
    background: rgba(133, 133, 133, 0.25);
}

#main-content{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

#tagline{
    height: 40%;
}

#main-heading{
    color: #F8F7F6;
    cursor: default;
    user-select: none;
}

#finder{
    height: 50%;
}

#search-card{
    background-color: rgba(133, 133, 133, 0.25);
}

.form-inline .border-primary{
    border: none;
}

#search-card button{
    background-color: #5b5048;
    border: none;
    color: #ffeada;
}

#search-card button:hover{
    background-color: #5b5048;
    color: white;
}

#main2{
    background-color: #fffff0;
}

#main2 .display-4{
    font-family: 'Josefin Sans', sans-serif;
}

#main2 .card-img-top{
    height: 350px;
}

#main2 .section-head{
    margin-top: 2em;
}

#main2 #sorting{
    border-right: 1px solid gray;
}

#main2 #map-img img{
    height: 550px;
}

#main2 .map-text{
    font-size: 1.5em;
}

#main2 .btn-sm{
    color: #fffff0;
    background-color:#5b5048;
    border: none;
}

#main2 .btn:hover{
    background-color: #645a51;
    color: #fffff0;
}

#main2 #sp-logo{
    height: 100px;
    width: 100px;
    border-radius: 2%;
}

#main2 #client-grid{
    padding: 10px 0;
    border-bottom: 1px rgba(133, 133, 133, 0.25) solid;
}

#main2 #client-text{
    font-size: 2em;
}

#main2 #app-row{
    height: 100vh;
}

#main2 #app-img{
    height: 600px;
}

#main2 .app-text{
    font-size: 1.5em;
}

#main2 .app-subtext{
    font-size: 1.1em;
}


#footer-container{
    background-color: #645a51;
}

#footer-container #footer a, #footer-container #footer p{
    color: #cccccc;
}

#footer-container #footer #george{
    text-decoration: underline;
}